@use "../../../styles/various.module.scss" as var;

.back{
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: auto;
    gap: 50px;
}

.title{
    @include var.small_title;
    margin-left: 260px;
}

.info{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

.text{
    @include var.dark_text;
    width: 350px;
    margin-left: 175px;
}

.cards{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 400px;
    height: 700px;
    background: rgba(173, 40, 229, 0.03);
border-radius: 20px;
img{
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
}

.card_info{
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    button{
        width: 200px;
height: 60px;
background: #162120;
border-radius: 12.5px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
color: #FBFBFD;
border: none;
    }
}

.author{
    width: 400px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
color: rgba(37, 37, 41, 0.8);
background-color: #FBFBFD;
}

.name{
    @include var.dark_text
}

.price{
    position: absolute;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 48px;
color: #7F6EE9;
}

.descr{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
margin-top: 175px;
margin-bottom: -15px;
color: rgba(37, 37, 41, 0.8);
}

