html,
body {
  max-width: 100vw;
  color: #fafafa;

}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    //variant1
    background: linear-gradient(180deg, #c2c6e3 70%, #D3D6E9 100%);
    //variant2
    background: linear-gradient(180deg, #cbcde2 70%, #D3D6E9 100%);
    // background: linear-gradient(180deg, #D3D6E9 70%, #F9FAFF 100%);
    // background: linear-gradient(180deg, #c2c6e3 70%, #F9FAFF 100%);
    // object-fit: cover;
    // height: 1000px;
    // background-repeat: no-repeat;
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
    background: linear-gradient(180deg, #c2c6e3 0%, #F9FAFF 100%);
  }
}
