@use 'base';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  overflow-x: hidden;
}

.wrapper{
  margin-top: 175px;
  display: flex;
  gap: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p{
    color: #fcb635;
    text-shadow: 1px 1px 1px #ff99004f;
  }
}

.content{
  margin-left: 160px;
  width: 300px;
  margin-top: 25px;
  // height: 1300px;
}

html::-webkit-scrollbar {
  width: 0.5vw;
}

html::-webkit-scrollbar-track {
  border-radius: 8px;

  background: rgba(255, 255, 255, 0.1);
}

html::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.15);
  transition: background-color 200ms linear;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: white;
}

.laptop_video{
  width: 310px;
  // height: 5000px;
  margin-left: 10px;
}