@use "./various.module.scss" as var;

.back{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image{
    object-fit: cover;
}


.part2{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}



.shares{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    p{
        font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
color: rgba(0, 0, 0, 0.6);
    }
}
.share{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .35s;
    img{
        width: 70%;
        height: auto;
    }
}
.share:hover{
    background-color: white;
    transition: .35s;
}
.line{
height: 0px;
}

.other{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    p{

        color: #0C0D0E !important;
    }
}

.second_line{
height: 0px;
width: 80%;
}

@media screen and (min-width: 1440px) {
    .back{
        width: 1440px;
        gap: 30px;
    }
    .image{
        width: 1300px;
    height: 500px;
    border-radius: 20px;
}
.title{
    @include var.small_title
}
.part2{
        width: 1440px;
}
.markdown{
    width: 808px;
    overflow: hidden;
    pre{
        background-color: #10061d;
    }
    code {
        font-family: Consolas, Menlo, Monaco, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Courier New', monospace;
        padding: 4px 8px;
        border-radius: 4px;
        color: #60ffaa;
        font-size: 14px;
        line-height: 1.5;
        white-space: pre-wrap;
      }
      table {
        border-collapse: collapse;
        width: 100%;
      }
      
      th, td {
        border: 1px solid #ddd;
        text-align: left;
        padding: 8px;
      }
      
      th {
        background-color: #00c4e693;
      }
    //   p{
        @include var.super_small_text;
        width: 56.11vw;
        width: 808px;
    //   }
    img{
        width: 56.11vw;
        height: 100%;
    }
}
.text{

}
.share{
        width: 60px;
    height: 60px;
        border: 1px solid rgba(0, 0, 0, 0.1);
}
.line{
        width: 81px;
        border: 1px solid rgba(0, 0, 0, 0.25);

}
.other{
    gap: 20px;
        width: 391px;
        p{
                    @include var.blog_small_title;
        }
}
.second_line{
    border: 1px solid rgba(0, 0, 0, 0.15);

}
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .back{
        width: 100vw;
        gap: 30px;
    }
    .image{
        width: 90.27vw;
    height: 34.7vw;
    border-radius: 1.38vw;
}
.title{
    @include var.small_title
}
.part2{
        width: 100vw;
}
.text{
    @include var.super_small_text;
    width: 56.11vw;
}
.share{
        width: 60px;
    height: 60px;
        border: 1px solid rgba(0, 0, 0, 0.1);
}
.line{
        width: 81px;
        border: 1px solid rgba(0, 0, 0, 0.25);

}
.other{
    gap: 20px;
        width: 391px;
        p{
                    @include var.blog_small_title;
        }
}
.second_line{
    border: 1px solid rgba(0, 0, 0, 0.15);

}
}


