.back{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.back1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lines{
    position: absolute;
    margin-top: 2550px;
    // transform: rotate(135deg);
}

.arrow_custom{
    position: absolute;
    margin-top: -80px;
    margin-right: 1330px;
    z-index: 5000;
    // transform: rotate(45deg);
}

.lines_custom{
    position: absolute;
    margin-top: 120px;
    margin-left: 1150px;
    z-index: 5000;
    transform: rotate(7.5deg);
}