@use "../../../styles/various.module.scss" as var;

@media screen and (min-width: 1024px) {
  .back{
    width: 100vw;
    height: auto;
    gap: 50px;
    display: flex;
    padding-bottom: 100px;
    align-items: center;
    flex-direction: column;
}

.title{
    @include var.small_title;
}

.block{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title_block{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 110%;
margin-left: -30px;
color: #000000;
}

.text{
@include var.dark_text;
margin-left: 30px;
width: 777px;
font-size: 18px;
line-height: 110%;
}

.header_block{
    display: flex;
    width: 700px;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.arrow{
    width: 100px;
    margin-left: -20px;
    height: 40px;
    color: #00000095;
}
@media screen and (min-width: 1440px) {
  .back{
    width: 1440px;
  }
}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .back{
    width: 100vw;
    height: auto;
    gap: 35px;
    display: flex;
    padding-bottom: 75px;
    align-items: center;
    flex-direction: column;
}

.title{
    @include var.small_title_tablet;
}

.block{
    display: flex;
    flex-direction: column;
    gap: 22.5px;
}

.title_block{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 110%;
margin-left: -28px;
color: #000000;
}

.text{
@include var.dark_text;
width: 80vw;
font-size: 16px;
line-height: 110%;
}

.header_block{
    display: flex;
    width: 80vw;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.arrow{
    width: 80px;
    margin-left: -20px;
    height: 30px;
    color: #00000095;
}
}

@media screen and (max-width: 768px) {
  .back{
    width: 100vw;
    height: auto;
    gap: 25px;
    display: flex;
    padding-bottom: 50px;
    align-items: center;
    flex-direction: column;
}

.title{
    @include var.small_title_phone;
}

.block{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title_block{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 110%;
margin-left: -16px;
color: #000000;
}

.text{
@include var.dark_text;
font-size: 9px;
line-height: 110%;
width: 80vw;
}

.header_block{
    display: flex;
    width: 80vw;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.arrow{
    width: 50px;
    margin-left: -10px;
    height: 20px;
    color: #00000095;
}
}

.header_block:hover .arrow{
    animation: arrow_animate 0.25s ease-in-out forwards;
  }
.header_block:not(:hover) .arrow{
    animation: arrow_animate_reverse 0.25s ease-in-out forwards;
  }

@keyframes arrow_animate {
    25%{
        transform: rotate(-45deg);
    }
    50%{
        transform: rotate(-90deg);
    }
    75%{
        transform: rotate(-135deg);
    }
    100%{
        transform: rotate(-180deg);
    }
}

  
  @keyframes arrow_animate_reverse {
    0% {
      transform: rotate(-180deg);
    }
    25% {
      transform: rotate(-135deg);
    }
    50% {
      transform: rotate(-90deg);
    }
    75% {
      transform: rotate(-45deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
