@use "../../../styles/various.module.scss" as var;

.back{
    height: 780px;
    width: 1440px;
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: column;
}

.title{
    @include var.small_title;
    width: 528px;
    text-align: center;
}

.part2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 85px
}

.text{
    @include var.dark_text;
    width: 474px;
    margin-top: 25px;
}

.box{
    display: flex;
    flex-direction: column;
    width: 250px;
height: 354px;
background: linear-gradient(180deg, rgba(0, 150, 136, 0.15) 0%, #15D1C0 100%);
backdrop-filter: blur(2px);
justify-content: space-between;
border-radius: 12px;
align-items: center;
div{
    background: #232323;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
}
}

.card_title{
    @include var.card_title;
    max-width: 200px;
}

.card_text{
    @include var.card_text;
    max-width: 200px;
    margin-bottom: 25px;
}

.part3{
    // position: absolute;
    margin-top: -175px;
}

