@use "../../../styles/various.module.scss" as var;

.back{
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center;
    gap: 15px;
    margin-top: 40px;
}

.image{
    width: 600px;
    height: 338px;
    border-radius: 10px;
    object-fit: cover;
}

.description{
    display: flex;
    flex-direction: column;
    width: 540px;
}

.title{
    @include var.blog_small_title;
    color: #0C0D0E !important;
}

.text{
    @include var.super_small_text;
    width: 470px;
    margin-left: 70px;
}