@use "../../../styles/various.module.scss" as var;

.back{
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center;
    gap: 15px;
    margin-top: 40px;
}

.delete{
    // margin-left: -100px;
    z-index: 20;
    // margin-top: -250px;
    border-radius: 1vw;
    border: none;
    // border: 1px solid rgba(0, 0, 0, 0.397);
    padding: 15px;
    background-color: white;
}

.back:hover{
    .image{
        opacity: 0.75;
        transition: 0.35s;
    }
}

.image{
    width: 600px;
    height: 338px;
    border-radius: 10px;
    object-fit: cover;
    transition: 0.35s;

}

.description{
    display: flex;
    flex-direction: column;
    width: 540px;
}

.title{
    @include var.blog_small_title;
    color: #0C0D0E !important;
}

.text{
    @include var.super_small_text;
    width: 470px;
    margin-left: 70px;
    padding: 5px;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* количество строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}