@use "../../../styles/various.module.scss" as var;

.back{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.part1{
    display: flex;
    flex-direction: row;
    align-items: center;
    p{
        @include var.small_title;

    }
    img{

    }
}

.text{
    @include var.dark_text;

    width: 1135px;
    margin-top: -50px;
}