@use "../../../styles/various.module.scss" as var;

.preback{
    display: flex;
    width: 1440px;
    justify-content: center;
}

.back{
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
    margin-top: 150px;
    width: 1300px;
}

.part1{
    width: 1300px;
height: 500px;
overflow: hidden;
position: relative;
//now
border-radius: 20px;
}

.last_post{
    width: 1300px;
    height: 500px;
    object-fit: cover;
}

.info{
    position: absolute;
    padding: 20px;
    right: 0;
    bottom: 0;
    background:rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(7.5px);
backdrop-filter: blur(7.5px);
border-radius: 25px 0px;
display: flex;
flex-direction: column;
}

.part1:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .35s;
    .onhover{
        background: rgba(37, 21, 71, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    transition: .35s;

    justify-content: center;
    align-items: center;
    width: 176px;
    height: 50px;
    border-radius: 10px;
    // position: absolute;
    z-index: 1000;
    }
    .last_post{
        opacity: 0.75;
        z-index: 2;
        transition: .35s;

    }
    .color_back{
        background-color: black;
        width: 1300px;
        height: 500px;
        position: absolute;
        transition: .35s;

        z-index: 1;
    }
}

.onhover{
    display: none;
    position: absolute;
    font-size: 24px;
    transition: .35s;

}

.info_title{
    @include var.blog_small_title
}

.info_text{
    @include var.super_small_text;
    margin-left: 50px;
    color: white !important;
    opacity: 0.75;
}

.part2{
    display: flex;
    flex-direction: column;
    width: 1078px;
    gap: 10px;
    margin-left: 91px
}

.title{
    @include var.small_title;
    span{
        font-weight: 700 !important;
    }
}

.text{
    @include var.dark_text;

    margin-left: 191px;
}