@use "../../../styles/various.module.scss" as var;

@media screen and (min-width: 1024px) {
    .back{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    .blog{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 23.4vw;
        height: 13.19vw;
        img{
            width: 23.4vw;
                height: 13.19vw;
            position: absolute;
            z-index: 1;
            border-radius: 10px;
        }
    }

    .blur{
        background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3.71452px);
    width: 100%;
    height: 7.43vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    p{
        @include var.card_text;
        color: #232325 !important;
    }
    }
    @media screen and (min-width: 1440px) {
        .blog{
            width: 337px;
            height: 190px;
            img{
                width: 337px;
                height: 190px;
            }
        }
        .blur{
            height: 107px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .back{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    .blog{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 23.4vw;
        height: 13.19vw;
        img{
            width: 23.4vw;
                height: 13.19vw;
            position: absolute;
            z-index: 1;
            border-radius: 10px;
        }
    }

    .blur{
        background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3.71452px);
    width: 100%;
    height: 7.43vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    p{
        @include var.card_text_tablet;
        font-size: 12px !important;
        color: #232325 !important;
    }
    }
}

@media screen and (max-width: 768px) {
    .back{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .blog{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40vw;
        height: 22vw;
        img{
            width: 40vw;
                height: 22vw;
            position: absolute;
            z-index: 1;
            border-radius: 5px;
        }
    }

    .blur{
        background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3.71452px);
    width: 100%;
    height: 7.43vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    p{
        @include var.card_text_phone;
        color: #232325 !important;
    }
    }
}
