@use "../../../styles/various.module.scss" as var;

@media screen and (min-width: 1024px) {
  .back{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: auto;
    padding-top: 75px;
    justify-content: space-between;
}

.left_part{
    align-items: center;
    display: flex;
}



.box{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    // align-items: center;
    gap: 20px;
    button{
        margin-left: 45px;
        width: 225px;
height: 65.04px;
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient(180deg, #15D1C0 0%, rgba(0, 150, 136, 0.5) 100%);
border: 1px solid #FFFFFF;
border-radius: 10px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
mix-blend-mode: normal;
    }
}

.title{
    @include var.small_title
}

.text{
    @include var.dark_text;
    margin-left: 45px;
}

.small_text{
  @include var.super_small_text;
  margin-top: -10px;
  line-height: 140% !important;
  opacity: 0.7;
  margin-left: 55px;
  // margin-bottom: -50px;
}

.right_part{
    align-items: center;
    display: flex;
    width: 50%;
    margin-right: 50px;
}

.ill{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55vw;
    height: 631px;
    animation: 1s linear 0s alternate animate_dashboard;
}

.home_dashboard{
    width: 55vw;
    z-index: 1;
    height: 631px;
    animation: levitate 2s ease-in-out infinite;
}

@media screen and (min-width: 1440px) {
  .back{
    width: 1440px;
  }
  .ill{
    width: 813px;
  }
  .home_dashboard{
    width: 813px;
  }
}

.home_dashboard_appbar{
    position: absolute;
    margin-left: -650px;
    margin-top: -50px;
    width: 40px;
    z-index: 2;
    height: 367px;
    animation: levitate2 2s ease-in-out infinite;
}

.home_dashboard_exchange{
    position: absolute;
    width: 124px;
    z-index: 2;
    margin-left: 500px;
    margin-top: 100px;
    height: 140px;
    animation: levitate2 2s ease-in-out infinite;
}

.home_dashboard_transactions{
    position: absolute;
    width: 128px;
    margin-left: 450px;
    margin-top: 400px;
    height: 169px;
    z-index: 2;
    animation: levitate2 2s ease-in-out infinite;
}



@keyframes levitate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes levitate2 {
    0% {
      transform: translateX(0) translateY(0);
    }
    50% {
      transform: translateX(5px) translateY(-10px);
    }
    100% {
      transform: translateX(0) translateY(0);
    }
  }

  @keyframes animate_dashboard {
    from{
        filter: blur(25px);
    }
    to{
        filter: blur(0px);
    }
}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .back{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: auto;
    padding-top: 75px;
    justify-content: space-between;
}

.left_part{
    align-items: center;
    display: flex;
}

.box{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    // align-items: center;
    gap: 20px;
    button{
        margin-left: 45px;
        width: 225px;
height: 65.04px;
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient(180deg, #15D1C0 0%, rgba(0, 150, 136, 0.5) 100%);
border: 1px solid #FFFFFF;
border-radius: 10px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
mix-blend-mode: normal;
    }
}

.title{
    @include var.small_title
}

.text{
    @include var.dark_text;
    margin-left: 45px;
}

.small_text{
  @include var.super_small_text;
  margin-top: -10px;
  line-height: 140% !important;
  opacity: 0.7;
  margin-left: 55px;
  // margin-bottom: -50px;
}

.right_part{
    align-items: center;
    display: flex;
    width: 50%;
    margin-right: 50px;
}

.ill{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 813px;
    height: 631px;
    animation: 1s linear 0s alternate animate_dashboard;
}

.home_dashboard{
    width: 813px;
    z-index: 1;
    height: 631px;
    animation: levitate 2s ease-in-out infinite;
}


.home_dashboard_appbar{
    position: absolute;
    margin-left: -650px;
    margin-top: -50px;
    width: 40px;
    z-index: 2;
    height: 367px;
    animation: levitate2 2s ease-in-out infinite;
}

.home_dashboard_exchange{
    position: absolute;
    width: 124px;
    z-index: 2;
    margin-left: 500px;
    margin-top: 100px;
    height: 140px;
    animation: levitate2 2s ease-in-out infinite;
}

.home_dashboard_transactions{
    position: absolute;
    width: 128px;
    margin-left: 450px;
    margin-top: 400px;
    height: 169px;
    z-index: 2;
    animation: levitate2 2s ease-in-out infinite;
}



@keyframes levitate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes levitate2 {
    0% {
      transform: translateX(0) translateY(0);
    }
    50% {
      transform: translateX(5px) translateY(-10px);
    }
    100% {
      transform: translateX(0) translateY(0);
    }
  }

  @keyframes animate_dashboard {
    from{
        filter: blur(25px);
    }
    to{
        filter: blur(0px);
    }
}
}
