@use "../../../styles/various.module.scss" as var;

.preback{
    display: flex;
    width: 1440px;
    justify-content: center;
}

.back{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 65px;
    width: 1300px;
}

.search{
    width: 550px;
height: 70px;
background: #FFFFFF;
border-radius: 30px;
}

.filters{
    display: flex;
    flex-direction: row;
    height: 25px;
}

.underline{
    width: 1179px;
height: 0px;
opacity: 0.1;
border: 2px solid #0C0D0E;
position: absolute;
margin-bottom: 0;
margin-top: auto;
}